<!doctype.html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="jpgfastimagecompresor for compressing your jpgimage very fast.it use node jpgimage compress techn to compress your jpgimage it make image compressing secure jpgcompressor is very important nowday to compress jpg image. ">
<meta name="keywords" conten="jpgfastimagecompresor,jpg fast image compressor online,jpg image compres,jpg fastest compresor,jpgcompres,jpgimagecompres,jpgimagecompresonline,jpgimagecompressoronline">
    
    <meta name ="author" content="jpgfastimagecompres">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
    jpg fast image compresor
    </title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 <link rel="icon" href="fev.png" type="image">
    <link href="style.css" type="text/css" rel="stylesheet">

</head>


<body>
    <section id="section1">
        <header class="jpgimagecompres ">
           
                <h1 ><img  src="fev.png">
JPG Fast Image Compresor </h1>

        </header>
    </section>
    
    <section id="section2">
    
    <div class="row sidmargin">
    <div class="col-sm-3 ad">
        <div class="crd   jumbotron"><strong>ADVERTISMENT
frames            </strong></div>
        <div class="crd   jumbotron"><strong>ADVERTISMENT Frames
            </strong>
        </div>
        </div>
    
   <div class="col-sm-6 jpgimagecomprescontent">
    
<form  class="jpgimagecompres" method="post" action="/" enctype="multipart/form-data">
    <div class="text-center inp"><img src =jpg.png><img src="slash.png"><img src="png.png"><input  type="file" name="image"/> </div>  
<div class="text-center inp"><button type="submit" class="btn btn-primary btn-lg btn-block b-4">Compress image</button>
    </div>
</form>
       
       <p class="lead text-center">
       
       
       
           <i> we provide you 100% data protection By deleting your data immidiatly after (Downloading)</i> 
       <b>all right reserved ><br>
           @Siddhant Kaushik<br></b>
      
       </p>
        </div>
        <div class="col-sm-3 ad"> 
           <div class="crd   jumbotron"><strong>ADVERTISMENT Frames
            </strong></div>
        <div class="crd   jumbotron"><strong>ADVERTISMENT Frames
            </strong>
        
        
        </div>
        
        </div>
    </section>
</body>
</html>